.catalog {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

.catalog__body {
  background-color: #ffffff;
  max-width: 320px;
  margin: 0 auto;
  padding: 0;

  @media (min-width:$tablet-width) {
    max-width: 768px;
  }

  @media (min-width:$desktop-width) {
    max-width: 1440px;
  }
}