.contacts__title {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
  text-transform: uppercase;
  margin: 0;

  @media (min-width:$tablet-width) {
    font-size: 20px;
    line-height: 26px;
    padding-right: 132px;
  }
}

.contacts__text {
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
  color: $base-color-text;
  margin: 0;

  @media (min-width:$tablet-width) {
    font-size: 16px;
    line-height: 20px;
    flex-direction: column;
    align-items: flex-end;
    gap: 19px;
    justify-content: center;
    max-width: 160px;
    text-align: right;
    display: flex;
  }
}

.contacts__adress {
  padding: 26px 20px;
  display: grid;
  grid-template-columns: 50% 50%;

  @media (min-width:$tablet-width) {
    padding: 26px 70px;
    gap: 157px;
    margin-bottom: 19px;
  }
}

.contacts__map-inner {
  @media (min-width:$tablet-width) {
    display: block;
    border: none;
    width: 100%;
    height: 400px;
  }
}