.extra-card__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #222222;
}

.extra-card__quantity,
.extra-card__price {
  font-size: 14px;
  line-height: 14px;
  color: $base-color-text;
}

.extra-card {
  @media (min-width:$tablet-width) {
    display: grid;
    grid-template-columns: auto 132px 50px;
    grid-template-rows: 20px 40px;
  }
}
