.footer-container__academy-name {
  font-size: 16px;
  line-height: 20px;
  color: $base-color-text;
}

.footer-container__academy-name:hover,
.footer-container__academy-name:focus-visible {
  color: $bg-color-base;
}

.footer-container__academy-name:active {
  color: rgba(104, 183, 56, 0.3);
}

.footer-container__academy-image {
  @include logo-mask(url("../../icons/stack.svg#icon-academy"), 27px, 34px)
}

.footer-container__academy-image:hover,
.footer-container__academy-image:focus-visible {
  background-color: $bg-color-base;
}

.footer-container__academy-image:active {
  background-color: rgba(104, 183, 56, 0.3);
}

.footer-container__academy-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  
  @media (min-width:$tablet-width) {
    padding-bottom: 23px;
    margin-top: 0;
  }
}

.footer-container__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;

  @media (min-width:$tablet-width) {
    justify-content: flex-start;
  }
}