.functions__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
}

.functions__list {
  font-size: 14px;
  line-height: 18px;
  color: $base-color-text;
}

.functions__item--first:before {
  @include functions-before(url("../../icons/stack.svg#icon-leaf"))
}

.functions__item--second:before {
  @include functions-before(url("../../icons/stack.svg#icon-bubble"))
}

.functions__item--third:before {
  @include functions-before(url("../../icons/stack.svg#icon-cutlery"))
}

.functions__item--fouth:before {
  @include functions-before(url("../../icons/stack.svg#icon-clock"))
}
