.functions__wrapper {
  padding:20px 20px 49px 20px;
  
  @media (min-width:$tablet-width) {
    padding: 31px 31px 0;
    border-bottom: 1px solid #e6e6e6;
  }
}

.functions__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  margin: 0;
  margin-bottom: 74px;
}

@media (min-width:$tablet-width) {
  .functions__title {
    font-size: 60px;
    line-height: 60px;
  }
}

.functions__list {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 18px;
  color: $base-color-text;
}
