.gift-promo {
  background-color: $bg-color-base;
}

.gift-promo__desc {
  font-size: 16px;
  line-height: 20px;
  color: $base-color-text-light;
}

.gift-promo__desc:before {
  content: "";
  background-image: url("../../icons/stack.svg#icon-gift");
  width: 78px;
  height: 80px;
  display: inline-block;
}
