@media (min-width:$tablet-width) {
  .main-header {
    padding: 25px 34px 0 31px;
  }
}

.main-header__toggle {
  mask-image: url("../../icons/stack.svg#icon-burger");
  background-color: rgba(0, 0, 0, 1);
  min-width: 24px;
  min-height: 24px;
  padding: 4px, 0px, 4px, 0px;
  border: 0;
  cursor: pointer;
}

.main-header__toggle--closed {
  mask-image: url("../../icons/stack.svg#icon-cross");
}

.main-header__toggle:hover,
.main-header__toggle:focus-visible {
  opacity: 80%;
}

.main-header__toggle:active {
  opacity: 60%;
}

@media (min-width:$tablet-width) {
  .main-header__toggle {
    display: none;
  }
}

.main-header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 13px;
  padding: 13px 21px 14px 21px;
}

@media (min-width:$tablet-width) {
  .main-header__container {
    width: 174px;
    justify-content: left;
    padding: 0;
  }
}

.main-header__logo-text {
  display: flex;
  align-items: center;

  @media (min-width:$tablet-width) {
    padding-left: 13px;
  }
}

.main-header__nav-wrapper {
  margin: 0 auto;
  padding: 0;

  @media (min-width:$tablet-width){
    display: flex;
    margin: 0;
    margin-left: 93px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

@media (min-width:$tablet-width) {
  .main-header__nav {
    display: flex;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .main-header__nav {
    justify-content: space-between;
  }
}