@media (min-width:$tablet-width) {
  .main-container__variant {
    margin-top: 505px;
  }
}

.main-container__variant {
  @media (min-width:$tablet-width) {
    margin-top: 505px;
  }

  @media (min-width:$desktop-width) {
    margin-top: 250px;
  }
}