.nav-menu {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  line-height: 20px;
}

.nav-menu__list-link {
  color: #000000;

  @media (min-width:$desktop-width) {
    color: #ffffff;
  }
}

.nav-menu__list-item {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 22px 125px 24px 124px;
  border-top: 1px solid rgba(230, 230, 230, 1);
  white-space: nowrap;

  @media (min-width:$tablet-width) {
    border: 0;
    padding: 0;
  }
}

.nav-menu__list-link:hover,
.nav-menu__list-link:focus-visible {
  opacity: 60%;
}

.nav-menu__list-link:active {
  opacity: 30%;
}

.nav-menu__list-link--current {
  text-decoration: underline;
  text-underline-offset: 8px;
  text-decoration-thickness: 2px;
  text-decoration-color: $bg-color-base;
  pointer-events: none;

  @media (min-width:$desktop-width) {
    text-decoration-color: #ffffff;
  }
}

.nav-menu__list-link--catalog {
  @media (min-width:$desktop-width) {
    color: #000000;
    text-decoration-color: $bg-color-base;
  }
}

.nav-menu__list-item {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 22px 125px 24px 124px;
  border-top: 1px solid rgba(230, 230, 230, 1);
  white-space: nowrap;
}

.nav-menu__list-link:hover,
.nav-menu__list-link:focus-visible {
  opacity: 60%;
}

.nav-menu__list-link:active {
  opacity: 30%;
}

.nav-menu__list-link--current {
  text-decoration: underline;
  text-underline-offset: 8px;
  text-decoration-thickness: 2px;
  text-decoration-color: $bg-color-base;
  pointer-events: none;
}
