.page {
  margin: 0;
  padding: 0;
  background-color: rgb(178, 106, 250);
}

.page__body {
  background-color: #ffffff;
  width: 320px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .page__body {
    width: 768px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .page__body {
    width: 1440px;
  }
}