.product-card-add__title {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
}

.product-card-add__desc {
  font-size: 14px;
  line-height: 16px;
  color: $base-color-text;
}

