.variant__title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  color: #000000;
}

.variant__title--slim::before {
  content:"";
  width: 50px;
  height: 53px;
  background-image: url("../../icons/stack.svg#icon-cat_sit");
  display: inline-block;
  background-position: center;
}

.variant__title--mass:before {
  content: "";
  width: 67px;
  height: 50px;
  background-image: url("../../icons/stack.svg#icon-cat_walk");
  display: inline-block;
  background-position: center;
}

.variant__desc {
  font-size: 14px;
  line-height: 18px;
  color: $base-color-text;
}

.variant__link {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.variant__link:active {
  opacity: 30%;
}

.variant__link--slim:after {
  content: "";
  mask-image: url("../../icons/stack.svg#icon-arrow");
  width: 24px;
  height: 12px;
  display: inline-block;
  background-color: rgba(0, 0, 0, 1);
}

.variant__link--slim:hover:after {
  width: 32px;
  height: 10px;
}

.variant__link--mass:after {
  content: "";
  mask-image: url("../../icons/stack.svg#icon-arrow");
  width: 24px;
  height: 12px;
  display: inline-block;
  background-color: rgba(0, 0, 0, 1);
}

.variant__link--mass:hover:after {
  width: 32px;
  height: 10px;
}


