.variant__wrapper {
  padding: 16px 30px 20px 27px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width:$tablet-width) {
    gap: 30px;
    padding: 16px 32px 20px 30px;
  }

  @media (min-width:$desktop-width) {
    flex-direction: row;
  }
}

.variant__title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  color: #000000;
  margin: 0;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

@media (min-width:$tablet-width) {
  .variant__title {
    font-size: 36px;
    line-height: 36px;
    grid-column: 1;
  }
}

.variant__title--slim::before {
  content:"";
  width: 50px;
  height: 53px;
  background-image: url("../../icons/stack.svg#icon-cat_sit");
  display: inline-block;
  background-position: center;
  margin-right: 20px;

  @media (min-width:$tablet-width) {
    width: 200px;
    height: 211px;
    position: absolute;
    top: 80px;
    right: 43px;
  }

  @media (min-width:$desktop-width) {
    position: static;
    width: 100px;
    height: 106px;
  }
}

.variant__title--mass:before {
  content: "";
  width: 67px;
  height: 50px;
  background-image: url("../../icons/stack.svg#icon-cat_walk");
  display: inline-block;
  background-position: center;
  margin-right: 12px;

  @media (min-width:$tablet-width) {
    width: 268px;
    height: 200px;
    position: absolute;
    top: 95px;
    right: 15px;
  }

  @media (min-width:$desktop-width) {
    width: 134px;
    height: 100px;
    position: static;
  }
}

.variant__desc {
  font-size: 14px;
  line-height: 18px;
  color: $base-color-text;
}

@media (min-width:$tablet-width) {
  .variant__desc {
    font-size: 16px;
    line-height: 24px;
    grid-column: 1;
    margin-top: 23px;
    margin-bottom: 52px;
  }
}

.variant__link {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

@media (min-width:$tablet-width)  {
  .variant__link {
    font-size: 20px;
    line-height: 30px;
    grid-column: 1;
  }
}

.variant__link:active {
  opacity: 30%;
}

.variant__link--slim:after {
  content: "";
  mask-image: url("../../icons/stack.svg#icon-arrow");
  width: 32px;
  height: 12px;
  display: inline-block;
  background-color: rgba(0, 0, 0, 1);
  margin-left: 26px;
  margin-bottom: 4px;
}

.variant__link--slim:hover:after {
  mask-image: url("../../icons/stack.svg#icon-arrow_acive");
}

.variant__link--mass:after {
  content: "";
  mask-image: url("../../icons/stack.svg#icon-arrow");
  width: 32px;
  height: 12px;
  display: inline-block;
  background-color: #000000;
  margin-left: 26px;
  margin-bottom: 1px;
}

.variant__link--mass:hover:after {
  width: 32px;
  mask-image: url("../../icons/stack.svg#icon-arrow_acive");
}

.variant__item {
  background-color: #f2f2f2;
  padding: 24px 20px 22px 20px;

  @media (min-width:$tablet-width) {
    padding: 79px 317px 53px 53px;
    display: grid;
    grid-template-columns: 1fr 330px;
    position: relative;
  }

  @media (min-width:$tablet-width) {
    display: block;
  }
}


